{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>
        <nav>
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'car create' %}">Create Car</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

  <section id="create-page" class="auth">

      <div class="container">
        <h1>Are you sure you want to delete your profile?</h1>
          <!-- Delete Profile Form -->
        <form id='delete'>

        <!-- Confirm Button -->
        <input class="btn submit" type="submit" value="Yes">

        </form>
      </div>
    <!-- End Delete Profile Form -->
  </section>
{% endblock %}