{% extends 'core/base.html' %}
{% block content %}
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>
        <nav>
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'car create' %}">Create Car</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    {% if not cars %}
    <p class="no-articles">No cars yet</p>

    {% else %}

    <section id="catalogue">
        <h1>Total cars: {{ cars_num }}</h1>

        {% for car in cars %}
            <div class="car-card">
                <div class="image-wrap">
                    <!-- car image -->
                    <img src="{{car.image_url}}"
                         alt="{{ car.type }}">
                </div>
                <!-- car type -->
                <h3>{{ car.type }}</h3>
                <!-- car model -->
                <h1>{{ car.model }}</h1>
                <div class="details-buttons">
                    <!-- car details button -->
                    <a href="{% url 'car details' pk=car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
         {% endfor %}

    {% endif %}

    </section>
{% endblock content %}