{% extends 'core/base.html' %}
{% block content %}
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="{% url 'index' %}"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>
        <nav>
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'car create' %}">Create Car</a>
            <a href="{% url 'profile details' %}">Profile</a>
        </nav>
    </header>

    <!-- edit game form -->
    <section id="delete-page" class="auth">
        <form method="post" action="{% url 'car delete' pk=car.pk %}" id="delete">
            <div class="container">

                <h1>Delete Car</h1>
                {{ form }}
                {% csrf_token %}

                <input class="btn submit" type="submit" value="Delete Car">

            </div>
        </form>
    </section>
{% endblock %}
